#constraintEditor {
    border: thin solid black;
    background-color: white;
    position: absolute;
    display: none;
    min-width: 250px;
}

#constraintEditor > * {
    margin: 4px;
}

#constraintEditor .button:hover {
    color: white;
    background-color: black;
}

#constraintEditor .button.sync {
    display: none
}

#constraintEditor.open {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#constraintEditor [name="code"]::before {
    content: "(";
}

#constraintEditor [name="code"]::after {
    content: ")";
}

#constraintEditor [name="code"] {
    width: 15px;
    color: #ccc;
}

/* The following rules make the right subset of controls appear in the constrain editor,
 * based on the selected operator. */
#constraintEditor .in {
    display: none;
}
#constraintEditor .in[name="op"] {
    display: block;
}
#constraintEditor.list [name="list"] {
    display: block;
}
#constraintEditor.subclass [name="type"] {
    display: block;
}
#constraintEditor.lookup [name="value"] {
    display: block;
}
#constraintEditor.value [name="value"] {
    display: block;
}
#constraintEditor.value .button.sync {
    /*display: block*/
}
#constraintEditor.multivalue [name="values"] {
    display: block;
}
