.nodegroup {
  font-size: 11px;
}
.nodeName {
    text-anchor: end;
}
.node {
  cursor: pointer;
  stroke: none;
  stroke-width: 1.5px;
}
.nodegroup.draggable .node {
}
rect.node {
  fill: #ccc;
}
circle.node {
  fill: lightsteelblue;
}

.nodeIcon {
    text-anchor: middle;
    stroke: white;
}

.queryMain .selected .node {
    fill: green;
}
.queryMain .constrained .node {
    stroke: purple;
}
.queryMain .constraint {
    stroke : purple;
    fill: purple;
}

.columnOrder .selected .node {
    fill: green;
}

.sortOrder .sorted .node {
    fill: #e28b28;
}
.sortOrder .constrained .constraint,
.columnOrder .constrained .constraint {
    stroke: #ccc;
}

.sortOrder .sorted .nodeIcon,
.columnOrder .selected .nodeIcon {
    cursor: pointer;
}

.sortOrder .sorted .handle,
.columnOrder .selected .handle {
    cursor: row-resize;
}

.link {
    fill: none;
    cursor: pointer;
    stroke: lightsteelblue;
    stroke-width: 3px;
}

.link:hover {
    stroke-width: 7px;
}

.link.attribute {
    stroke: #ccc;
}

.link.outer {
    stroke: orange;
    stroke-dasharray: 5 2;
}

