/*@import 'style.css';*/

@import 'tInfo.css';
@import 'nodes.css';
@import 'dialog.css';
@import 'constraintEditor.css';

body {
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}


label {
    font-weight: bold;
}

#qblogo {
    width: 35px;
    height: 40px;
    margin: 0px;
}

