/*@import 'style.css';*/

@import 'tInfo.css';
@import 'nodes.css';
@import 'dialog.css';
@import 'constraintEditor.css';

body {
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

label {
    font-weight: bold;
}

.flexrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

