#tInfo {
    display: flex;
    flex-direction: column;
}

#tInfo > div {
    display: flex;
    flex-direction: row;
}

#tInfo >  div > div {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

#tInfo > div > * {
    padding: 4px;
}

#tInfo label {
    text-align: center;
}

#tInfo .title input {
}

