#titleBar {
    background-color: #617896;
    color: #fff;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    z-index: 100;
    justify-content: space-between;
}

#titleBar [name="title"] {
    font-size: 20px;
    width: auto;
}

#titleBar [name="version"] {
    font-size: 14px;
    padding-left: 4px;
}

#titleBar [name="qblogo"] {
    width: 35px;
    height: 40px;
    margin: 3px;
}

#titleBar > * {
    margin: 10px;
}

#mine-ctrls {
    width: auto;
}
#mine-ctrls > * {
    margin: 4px;
}

#tInfoBar {
    background-color: #ccc;
    z-index: 90;
    width: 100%;
    position: relative;
    top: 50px;
}

#tInfoBar.closed [name="details"],
#tInfoBar.closed [name="editTarget"] {
    display:none;
}
/* Top control bar */
#tInfoBar [name="topBar"] {
    padding-left: 80px;
    padding-right: 50px;
    justify-content: space-between;
    border-bottom: thin solid;
}
#tInfoBar.closed [name="topBar"] {
    border-bottom: none;
}
#tInfoBar [name="topBar"] > div {
}
#drawer {
    width: 100%;
    height: 250px;
    opacity: 1;
    -webkit-transition: height 0.3s, opacity 0.2s;
    transition: height 0.3s, opacity 0.2s;
    overflow: scroll;
}
#drawer.expanded {
    height: 400px;
}
#tInfoBar.closed #drawer {
    height: 0px;
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 1.5s;
    transition: height 0.3s, opacity 1.5s;
}

#tInfoBar [name="details"] {
    align-items: flex-start;
    overflow: hidden;
}
#tInfoBar.closed [name="details"] * {
    opacity:0;
}

#tInfoBar [name="editTarget"] {
    padding: 10px;
    align-items: flex-start;
}

#tInfoBar [name="editTarget"] > div {
    padding: 0px 14px;
}

/* The template info bar */
#tInfo .flexrow {
    align-items: flex-start;
}
#tInfo > div {
    width: 100%;
}

#tInfo >  div > div {
    padding: 8px;
    flex-grow: 1;
}

#tInfo input {
    width: 100%;
}

#tInfo [name="title"] {
    flex-grow: 5;
}

#tInfo > div > * {
    padding: 4px;
}

#tInfo label {
    text-align: center;
}

#tInfo .title input {
}

#ttext {
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: center;
}
#ttext label span {
    cursor: pointer;
}
#ttext.xml label span[name="json"] {
    opacity: 0.3;
}
#ttext.json label span[name="xml"] {
    opacity: 0.3;
}
#ttextdiv {
    width: 600px;
    height: 150px;
    font-family: monospace;
    white-space: pre;
    overflow: hidden;
    transition: height 0.5s;
}
#drawer.expanded #ttextdiv {
    height: 380px;
    overflow: scroll;
}

#mineLogo {
    width: 30px;
    position: relative;
    left: 18px;

}

#tooltray {
    position: fixed;
    height: 50px;
    top: 50px;
    justify-content: space-between;
    z-index: 1000;
}

#tooltray > .flexrow,
#tooltray > .flexcolumn {
    width: auto;
}

#tooltray .button {
    background-color: #607896;
    color: white;
    border-radius: 16px;
    padding: 2px;
    margin: 6px;
}

.button {
    cursor: pointer;
}

.button.disabled {
    opacity: 0.5;
    cursor: default;
}

.button[name="openclose"]::before {
    content: "arrow_upward";
}
.button[name="openclose"].closed::before {
    content: "arrow_downward";
}

#editView {
    width: auto;
    padding-left: 20px;
    padding-right: 10px;
}
#editView label {
    padding-right: 6px;
}

[name="topBar"] [name="undoRedoButtons"] {
    justify-content: center;
}

[name="topBar"] [name="undoRedoButtons"] i.button {
    padding: 6px;
    border-radius: 20px;
    margin-left: 6px;
    margin-right: 6px;
}
[name="topBar"] [name="undoRedoButtons"] i.button:hover {
    color: black;
    background-color: white;
}

[name="topBar"] label {
    margin-right: 6px;
    margin-left: 12px;
}

#tooltray i.button.sync {
    background-color: green;
}

#runatmine {
    background-color: green;
    color: white;
    border-radius: 16px;
    padding: 4px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

#runatmine:hover {
    color: orange;
}

#querycount {
    top: 80px;
    background-color: transparent;
}
#querycount span {
    width: 70px;
}
#querycount i.error,
#querycount.syncoff i.error,
#querycount.syncoff.error i.error {
    display: none;
}
#querycount.error i.error {
    display: block;
    color: red;
}
#querycount.error span {
    text-decoration: line-through;
}
#querycount.syncoff label,
#querycount.syncoff span {
    color: #ccc;
}
#querycount label {
    font-weight: normal;
}
#querycount.running .button.sync {
    -webkit-animation: rotation 2s infinite linear;
}

#footer {
    height: 18px;
    width: 100%;
    background-color: #617896;
    color: #fff;
    position: fixed;
    bottom: 0px;
    z-index: 100;
    align-items: center;
    padding: 6px 18px;
    justify-content: space-between;
}
#footer > div:last-child {
    padding-right: 30px;
}
#footer a {
    color: white;
    text-decoration: none;
}
#footer a:hover {
    color: blue;
}
#footer > div {
    width: auto;
}
#footer .left i.button {
    padding-right: 15px;
    font-size: 32px;
}
#footer .left i.button:hover {
    color: #0eec0e;
    font-weight: bold;
}
