#topCtrlBar {
    display: flex;
    flex-direction: row;
    background-color: #9E9E9E;
}

#topCtrlBar > * {
    margin: 10px;
}

#tInfoBar {
    background-color: lightsteelblue;
    display: flex;
    flex-direction: row;
}

#tInfo {
    display: flex;
    flex-direction: column;
}

#tInfo > div {
    display: flex;
    flex-direction: row;
}

#tInfo >  div > div {
    display: flex;
    flex-direction: column;
    padding: 8px;
    flex-grow: 1;
}

#tInfo [name="title"] {
    flex-grow: 5;
}

#tInfo [name="logicExpression"] {
    flex-grow: 0;
}

#tInfo > div > * {
    padding: 4px;
}

#tInfo label {
    text-align: center;
}

#tInfo .title input {
}

#ttext {
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: center;
    background-color: lightsteelblue;
}

#ttext textarea {
    width: 300px;
    height: 150px;
}


#biggreenbutton {
    background-color: green;
    color: white;
    padding: 22px;
    width: 125px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    position: absolute ;
    top: 20px;
    left: 20px;
}

#biggreenbutton:hover {
    color: orange;
}

/* this rule is so that the biggreenbutton positions correctly */
#svgContainer {
    position: relative;
}
